:root {
    --colorLetraMain : #fff;
    --colorFundo : rgb(69, 101, 187);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexConteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    
}

.ocultar{
    display: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: var(--colorLetraMain);
    text-align: center;
}
main {
    background-color: var(--colorFundo);
    color: var(--colorLetraMain);
    
}



.styleCardBuscar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
}

.cardImgGaleria {
    width: 80%;
}

.cardBuscar {
    flex-direction: column;
    width: 100%;
}
.styleDiv {
    flex-wrap: wrap;
    
}
.styleDiv p {
    font-size: 1.2rem;

}

#galeriaImg.flexConteiner {
    justify-content: space-around;
 }

#divTendenciaMax {
   justify-content: space-around;
}

.btn {
     
    
    margin: auto;
   border: none;
    font-size: 1.2rem;
    text-align: center;
}

.btn1,.btn2, .btn3{
    width: 90%;
    background-color:  var( --colorFundo) ;
    margin: auto;
    color: var(--colorLetraMain);
    font-size: 1.2rem;
    text-align: center;
   
}

